services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tercos
    ports:
      - "5432:5432"

  backend:
    build: ../backend
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build: ../frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
